---
dist:
  name: otelcol
  description: OTel collector for dreamkast
  output_path: ./otelcol

extensions:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/healthcheckextension v0.140.1

receivers:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/filelogreceiver v0.140.1
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/hostmetricsreceiver v0.140.1
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/postgresqlreceiver v0.140.1
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/prometheusreceiver v0.140.1
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/redisreceiver v0.140.1
  - gomod: go.opentelemetry.io/collector/receiver/otlpreceiver v0.140.0

processors:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/attributesprocessor v0.140.1
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/probabilisticsamplerprocessor v0.140.1
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourcedetectionprocessor v0.140.1
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/tailsamplingprocessor v0.140.1
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor v0.140.0

exporters:
  - gomod: github.com/mackerelio/opentelemetry-collector-mackerel/exporter/mackerelotlpexporter v0.4.0
  - gomod: go.opentelemetry.io/collector/exporter/debugexporter v0.140.0

  # dreaamkast-infra で mackerelotlpexporter を使ったら、これは要らない
  - gomod: go.opentelemetry.io/collector/exporter/otlpexporter v0.140.0

  # dreaamkast-infra で mackerelotlpexporter を使ったら、これは要らない
  - gomod: go.opentelemetry.io/collector/exporter/otlphttpexporter v0.140.0

providers:
  - gomod: go.opentelemetry.io/collector/confmap/provider/envprovider v1.46.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/fileprovider v1.46.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/httpsprovider v1.46.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/yamlprovider v1.46.0
