---
"on":
  push:
    branches: ["main"]

jobs:
  judge-exec:
    outputs:
      needs-build: ${{ steps.judge-needs-build.outputs.any_changed }}
    permissions:
      contents: read
    timeout-minutes: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          persist-credentials: false
      - id: judge-needs-build
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62  # v47.0.0
        with:
          files: |
            Dockerfile
            otelcol/**

  build-push-otelcol-stg:
    needs: judge-exec
    if: needs.judge-exec.outputs.needs-build == 'true'
    permissions:
      contents: read
      id-token: write
    uses: cloudnativedaysjp/reusable-workflows/.github/workflows/wc-build-image.yml@main
    with:
      image_name: dreamkast-otelcol
      aws_region: us-west-2

  build-push-otelcol-prod:
    needs: judge-exec
    if: needs.judge-exec.outputs.needs-build == 'true'
    permissions:
      contents: read
      id-token: write
    uses: cloudnativedaysjp/reusable-workflows/.github/workflows/wc-build-image.yml@main
    with:
      image_name: dreamkast-otelcol
      aws_region: ap-northeast-1
